if multipleDays

  ul.tabs
    each day in daysInOrder
      li
        if day == currentDay
          a(href='#'+day).active
            | #{day.substring(0,3)}
        else
          a(href='#'+day)
            | #{day.substring(0,3)}

  ul.tabs-content#fixtures-content
    each fixtures, day in fixturesByDay
      if day == currentDay
        li(id=day+'Tab').active
          ul
            include fixtures
      else
        li(id=day+'Tab')
          ul
            include fixtures

else

  each fixtures, day in fixturesByDay
    include fixtures
