ul.tabs
  each fixtures, day in days
    li
      a(href='#'+day).
        #{day.substring(0,3)}
  
ul.tabs-content#fixtures-content
  each fixtures, day in days
    li(id=day+'Tab')
      ul
        include fixtures
