extends layout

block content

  a(href='/login/google' class='button').
    Log in with your Nouse Google Apps account
  p
    | Not working? 
    a(href='http://mail.nouse.co.uk') Log into your Nouse email account
    | , and then come back here and try again.
  pre
    |                                              $NNN$~.
    |                                            7NOUSENOU7
    |                                             INOUSENOUSEI
    |                                              IENOUSENOUS
    |               N7=..    .                      OOO$7+NOUSO
    |               .,NOUSENOUS?.. .                INNO$INOUSE,
    |                 .ENOUSENOUSENOU$,.            ~DNOUSENOUS7
    |                    SENOUSENOUSENOND.          ..     NOUSE
    |                    .+SENOUSENOUSENOUS:.     . 7NOUSENOUSEN.
    |                       NOUSENOUSENOUSENOUS    .?~,.   7NOUS:          . . 
    |                        ENOUSE ..ENOUSENOU7.  :$DNOUSENOUSEI   . ~$8DNOUSE$+o.  
    |                        .NNZ  ..$NOUSENOUSENOUSENO?  ..=NOUSE   NOUSENOUS  .M7Z...........
    |                           .,NOUS. ~USENOUSENOU,SENOUSENOUSEN?OUSENOUSENOU.SENOUSENOUSENOUS$=..
    |                          .NNN= . 7NOUSENOUSENOUSENOUSENOUSENOUSENOUSE==7$8NN ~NOUSENOUSENZ+
    |                           '   =DNNO,.DNNOUSENOUSENOUS$NOUSENO NOUSE+~.. ,NOUSENOU?~:
    |                            ,NNND. .. NOUSENOUSENOUSENOUSENOUSENOUSE. ?NOUSENO=.
    |                                . INNNNN$NOUSENOUSENOUSENOUSENOU, . .?8NNN:..
    |                             .ONNNNN+ . ...~NOUSENOUSENOUSENOU . .N+. ,N
    |                           .NNNNO, .  ,I8SENOUSENOUSENOUSENNNN..~N+.,NN
    |                               .  +NNOUSENOUSENOUSENOUSENOUSENOS..,NN
    |                            .$SENOUSENOUSENOUSENOUSENOUSENOUSENI,NON+
    |                             :NOUSENOUSENOUSENOUSENOUSENOUSENOUSENO
    |                               :DNOUSENOUSENOUSENOUSENOUSENOUSENO?
    |                                 ...?USENOUSENOUSENOUSENOUSENOU7
    |                                .ZOUSENOUSENOUSENOUSENOUSENOUSE
    |                          .:=ZNOUSENOUSENOUSENOUSENOUSENOUI
    |                     .. .?NOUSENOUSENOUSENOUSENOUSENOUSEN
    |                     .NOUSENOUSENOUS$NOUSENOUSENOUSE,
    |                       +NNN.I
    |                        =IO
    | 
    | nnnn             nnnnn         ooooooooooo         uuuuuuu          uuuuu       sssssss  S   eeeeeeeeeeeeeeee
    |   NNN              N         OO           OO         UUU              U       sSS    sss S     EEE         \E
    |   N NNN            N       oOO             OOo       UUU              U      SSS      SSSS     EEE
    |   N  NNN           N      OOO               OOO      UUU              U     SSS         SS     EEE
    |   N   NNN          N     OOO                 OOO     UUU              U     SSS                EEE
    |   N    NNN         N    OOO                   OOO    UUU              U      SSS               EEE
    |   N     NNN        N    OOO                   OOO    UUU              U      SSS               EEE         /E
    |   N      NNN       N    OOO                   OOO    UUU              U        sssssss         EEEeeeeeeeeEEE
    |   N       NNN      N    OOO                   OOO    UUU              U              SSs       EEE         \E
    |   N        NNN     N    OOO                   OOO    UUU              U               SSS      EEE
    |   N         NNN    N     OOO                 OOO     UUU              U                SSS     EEE
    |   N          NNN   N      OOO               OOO       UUu             U     s          SSS     EEE
    |   N           NNN  N       oOO             OOo         UU           uU      SS         SSS     EEE          
    |   N            NNN N         OO           OO            UU         uU       SSSs      SSS      EEE          /E
    | nnNnn           NNNNnn         OoooooooooO                UUUUUUUUU         S  SSSSSSSSS       EEEeeeeeeeeeeEE 
